<!DOCTYPE html>
<html>
<head>
    <title>Statistical Analysis Results</title>
</head>
<body>
    <h1>Statistical Analysis Results</h1>

    <h2>Asset: Gold</h2>
    {{ gold_table_html | safe }}

    <h2>Asset Summaries</h2>
    {{ total_position_table_html | safe }}

    <h2>Descriptive Statistics</h2>
    {% for stat in statistics %}
        <h3>{{ stat.Asset }}</h3>
        <ul>
            <li>Mean: {{ stat.Mean }}</li>
            <li>Max Value: {{ stat.Max }}</li>
            <li>Min Value: {{ stat.Min }}</li>
            <li>Standard Deviation: {{ stat['Standard Deviation'] }}</li>
        </ul>
    {% endfor %}


    <h2>System Information</h2>
    <ul>
        <li>Operating System: {{ os_name }}</li>
        <li>System: {{ system_name }}</li>
        <li>Datetime: {{ current_datetime }}</li>
        <li>Python Version: {{ python_version_info }}</li>
    </ul>
</body>
</html>
